html {
  /* px means "pixels". The base font size is now 10 pixels high */
  font-size: 10px;
  /* Replace PLACEHOLDER with the font-family property value you got from Google Fonts */
  font-family: "Noto Serif", serif;
  image-rendering: pixelated;
  background-color: rgb(32, 32, 32);

  
}


body{
  background-color: #bfe690;
  width: 768px;
  color: #1a2d21;
  margin: 0 auto;
  padding: 4px 16px 16px 16px;
}

canvas {
  image-rendering: pixelated;
  width: 768px;
  height: 432px;
}

h1 {
  font-size : 55px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-top: 8px;
  padding: 0px;
  
}

h2 {
  font-size : 34px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
  padding: 0px;
  
}

h4 {
  font-size : 14px;
  margin-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 8px;
  font-weight: normal;
}

.small {
  font-size: 12px;
}

p{
  font-size : 18px;
  margin: 0px;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 30px;
}

li{
  font-size : 18px;
  margin: 10px;
}

.header{
  height: 83px;
  background-image: url("../images/coach.jpg");
  color: white;
  background-size: 800px 533px;
  width: 770px;
  padding-left: 30px;
  padding-top: 450px;
  display: flex;
  
}

.title{
  font-size : 55px;
  text-shadow: 2px 2px black;
}

.no-underline {
  text-decoration: none;
  color: #1a2d21;
  font-size: 64px;
}

.article-container {
  border-top: 4px solid #1a2d21;
  margin: 10px 16px 0px 16px;
  padding-left: 8px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.title-container {
  border-bottom: 4px solid #1a2d21;
  margin: 10px 16px 16px 16px;
  padding-left: 8px;
  padding-top: 0px;
  padding-bottom: 8px;
}

.divider-img {
  margin-top: 10px;
  margin-bottom: 20px;
  align-items: center;
  justify-content: center;
}

.figure {
  display: flex;
  margin: 10px 10px 20px 10px;
  
  align-items: center;
  justify-content: center;
  image-rendering: auto;
}

.figure img {
  width: 300px;
  
}

.caption {
  display: flex;
  margin: 0px 10px 30px 10px;
  padding: 0px 60px 0px 60px;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}